#header {
	background-color: #2e3133;
	color: white;
	height: 40px;
}<

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.header {
	color: white;
	font-size: 14pt;
	text-decoration: none;
	font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: lighter;
    padding-left: 20px;
    padding-right: 20px;
}

a.header:hover {
	color: #dedede;
}

body {
	margin: 0;
	padding: 0;
	background-color: #eee;
	font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: normal;
}

#spacer {
	height: 6px;
}

#footer {
	
}
